label{
    text-align: center;
    display: block;
    padding: 20px;
}

    form{
      text-align: center;
     
      color: rgb(26, 23, 23);
      padding: 16px 20px;
      margin: 30px 0;
      border: 0cqh;
      cursor: pointer;
      width: 50%;
    }
    
h1{
    text-align: center;
    text-shadow: 2px 2px rgb(31, 30, 30);
}
div{
    text-align: center;
    padding: 10px;
}

form{
    text-align: center;
    
    margin:0px 400px 0px 400px;
}
fieldset{
    text-align: center;
    margin-left:200px;
    margin-right:200px;
}


text
{ text-align: center;
     font-size: 100px;
    font-weight: 500;
    margin-bottom: 35px;
    color: rgb(20, 15, 11);
}

body{
    text-align: center;
    background-image: url("is.jpg");
    height: 20%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
P{
    text-align: center;
    text-align: middle;
    text-decoration-color: rgb(23, 27, 27);
    
        max-width: 900px;
        margin: 300px 400px 300px 400px;
        padding: 10px;
        text-size-adjust: 100%;
    
}